<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
          <form class="myform">
            <div class="form-group row">
              <label for="marvel-hero" class="col-md-2 col-form-label">Hero Name</label>
              <div class="col-md-10">
                <input type="text" class="form-control" id="marvel-hero">
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
    </div>
</div>

